<div class="panel panel-default removePadding remove-radius">
	<div class="panel-heading pHead">
		<strong class="lineHeight">我的指南</strong>
		<button class="btn btn-default pull-right" ui-sref="personCenter.guidePublish">申请公告</button>
		<button class="btn btn-default pull-right" ng-click="allRead()">全部已读</button>
	</div>
	<div class="panel-body">
		<!-- List group -->
		<ul class="list-group" ng-if="guideList.length != 0">
			<li class="list-group-item" ng-repeat="guide in guideList">
				{{guide.guideObj.guideContent}}&emsp;
				<small>相关商品&gt;&gt;<a href ui-sref="goodDtail({goodsId:guide.goodObj.goodId})"><strong>{{guide.goodObj.goodName}}</strong></a></small>
				<button class="btn btn-danger btn-xs pull-right margin-left" ng-if="guide.guideObj.status == 0" ng-click="delGuide(guide.guideObj.guideId)">取消申请</button>
				<span class="pull-right status-color" ng-if="guide.guideObj.status == 1">已展示</span>
				<span class="pull-right status-color" ng-if="guide.guideObj.status == 0">待审核</span>
			</li>
		</ul>
		<p ng-if="guideList.length == 0">您还没有申请过公告，点击右上角申请按钮!</p>
		<!-- 分页 -->
		<div id="foot" ng-if="guideList.length != 0">
			<nav class="text-right page-footer" aria-label="Page navigation">
				<ul class="pagination pagination-sm page">
					<li id="left"><a href aria-label="Previous"
						ng-click="pageLeft()"> <span aria-hidden="true">&laquo;</span>
					</a></li>
					<li id="page{{page}}" ng-repeat="page in pageStr" ng-class="{'active' : page.nowPage}" ng-click="toPage(page.pageIndex,$event)">
					<a href>{{page.pageIndex}}</a>
					</li>
					<li id="right"><a href aria-label="Next"
						ng-click="pageRight()"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>