<div class="span12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="glyphicon glyphicon-th"></i>
            </span>
            <h5>平台统计</h5>
        </div>
        <div class="widget-content">
            <label class="">活跃用户总数/人</label>
            <div class="progress progress-info progress-striped active">
                <div class="bar" style="{{'width:'+userNum+'%'}}">{{userNum}}人</div>
            </div>
            <label class="">平台成交量</label>
            <div class="progress progress-success progress-striped active">
                <div class="bar" style="{{'width:'+percent+'%'}}">{{percent}}%</div>
            </div>
        </div>
    </div>
</div>