<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<mappers>
		<mapper resource="com/mapper/AdminMapper.xml" />
		<mapper resource="com/mapper/CardMapper.xml" />
		<mapper resource="com/mapper/ChargeMapper.xml" />
		<mapper resource="com/mapper/RecordMapper.xml" />
		<mapper resource="com/mapper/SpaceMapper.xml" />
		<mapper resource="com/mapper/ZoneMapper.xml" />

	</mappers>
</configuration>
